[Unit]
Description=Timer to trigger the change between day and night wallpaper

[Timer]
OnCalendar=*-*-* 7:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
